@import '../assets/styles/variables.scss';

main {
  .logo {
    background: $purple;
    height: 200px;
    padding: 20px;

    h1 {
      color: white;
      text-align: center;
      font-size: 3rem;
      span {
        color: $background;
      }
    }
  }

  .input {
    max-width: 997px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    margin: -100px auto 0;
  }

  .list {
    color: white;
    max-width: 997px;
    margin: 50px auto;
    width: 100%;
  }
}